CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
  Compiler: clang++

Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*, bugprone-*]
    Remove: [modernize-use-trailing-return-type]
    
